@(dashboard: List[DashboardEntry])

@******************************************************************************
 * Copyright 2012 Brennan Saeta                                               *
 *                                                                            *
 * This file is part of Axess                                                 *
 *                                                                            *
 * Axess is free software: you can redistribute it and/or modify              *
 * it under the terms of the GNU Affero General Public License as published by*
 * the Free Software Foundation, either version 3 of the License, or          *
 * (at your option) any later version.                                        *
 *                                                                            *
 * Axess is distributed in the hope that it will be useful,                   *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              *
 * GNU Affero General Public License for more details.                        *
 *                                                                            *
 * You should have received a copy of the GNU Affero General Public License   *
 * along with Axess.  If not, see <http://www.gnu.org/licenses/>.             *
 ******************************************************************************@

@main("Web Scanner")(navigation("index")) {
    
    <header class="jumbotron">
      <div class="page-header">
        <h1>Axess <small>The Site-Scanner for Accessibility (and more)</small></h1>
      </div>
    </header>
    <section id="welcome">
      <div class="row">
        <div class="span8">
          <h2>About <small>Overview, background, etc.</small></h2>
          <p>Axess is the site scanner. It checks for accessibility violations,
          and a few other validation errors.</p>
          <p>Everything is organized around the concept of a <b>Site</b>. A
          site consists of a <i>username</i>, <i>password</i>, a 
          <i>home page</i>, and a couple other things.</p>
          <p>A site can be scanned, and the scan results can be displayed.
          To scan a site, go under the <i>Sites</i> link in the top navigation.
          To view past site scan results, go under <i>Scan Results</i></p>
          
          <p>If you have feature requests, or would like something changed,
          please do make a request.</p>
          
          <h3>Why Axess? <small>Motivation</small></h3>
          <p>Axess is important for a couple reasons:</p>
          <ol>
            <li>The Software as a Service Coursera course has over 9000 
            individual pages as of this writing. This is too much for someone go
            to through manually. We thus need an automated tool.</li>
            <li>A lot of frameworks have username/password login requirements.
            We need an extensible framework that can handle logins.</li>
            <li>We need a tool to check more than simple accessibility issues.
            This tool will also help find dead links, etc.</li>
          </ol>
          
          <h2>Other Tools</h2>
          <p>Axess is by no means the be-all-end-all solution. There are many
          accessibility issues that are best enforced through other tools, or
          manual inspection. Some other tools that should be considered include:</p>
          <ul>
            <li><a href="http://appro.mit.jyu.fi/tools/acc/">Acc</a></li>
            <li><a href="http://foxability.sourceforge.net/">Foxability</a></li>
          </ul>
          
          <h2>(Un)Checked <small>Features</small></h2>
          <h3>What we do check</h3>
          <ul>
            <li>All <code>img</code> elements have an <code>alt</code> attribute
            defined. This should be "" if the image is purely decorative.</li>
            <li>All form <code>input</code>s should have a <code>label</code> 
            for them.</li>
            <li>Every page has a title (useful for bookmarks, etc.)</li>
            <li>No blink elements.</li>
            <li>Link text shouldn't be 'here', or 'click', or a number.</li>
          </ul>

          <h3>What we do <b>NOT</b> check <small>But should?</small></h3>
          <ul>
            <li>Text should be black or blue? (For low vision)</li>
            <li>Check for contrast between content and background. (Contrast ratio of 3:1 or 4.5:1)</li>
            <li>Check for links that say "click here", or some form of that.</li>
            <li>Check to make sure there's non-link printable characters 
            (surrounded by spaces) in between two consecutive links. 
            <a href="http://www.w3.org/WAI/GL/central.htm">Idea found here</a></li>
            <li>Provide a <code>NOFRAME</code> option for each <code>FRAMESET</code></li>
            <li>Title each <code>frame</code>, as well as using the 
            <code>longdesc</code> attribute on <code>frame, iframe</code>s</li>
            <li>(<a href="http://www.w3.org/WAI/GL/central.htm#LNK.lnk">Forms</a>)
            If a selection list is very long, provide optgroups.</li>
          </ul>
          
          <h3>What we cannot check for</h3>
          <p>There are some things that we cannot easily check for. 
          Unfortunately, that's the way things are. Below are some examples, but
          by no means are complete. (These are taken from 
          <a href="http://www.w3.org/TR/WCAG20/">WCAG 2.0</a>)</p>
          <ul>
            <li>Decoration, Formatting, Invisible: This tool cannot easily 
            determine if an image is decoration, or if it is actual content.</li>
            <li>That the website is fully functional using only the keyboard.</li>
            <li>"When an authenticated session expires, the user can continue 
            the activity without loss of data after re-authenticating."</li>
            <li>Help users avoid and correct mistakes.</li>
          </ul>
          
          <h3>Axess Features that should be implemented</h3>
          <ul>
            <li>Have the ability to suppress certain warning messages.</li>
            <li>Differentiate between errors and severity.(Warnings vs Errors?)</li>
          </ul>
          
          <h3>A list of good ideas</h3>
          <ul>
            <li>Keyboard shortcuts for links (and form elements): add the "accesskey" attribute to links.</li>
            <li>Provide a longer description (such as longdesc) for important graphics.</li>
          </ul>
        </div>
        <div class="span4">
        @if(dashboard.length > 0) {
          <h2>Dashboard</h2>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Site</th>
                <th># Err</th>
              </tr>
            </thead>
            <tbody>
              @dashboard.map { entry =>
                <tr>
                  <td>@entry.tag</td>
                  <td><a href="@routes.ScanController.results(entry.scanId)">@entry.numErrors</a></td>
                </tr>
              }
            </tbody>
          </table>
        } else {
          <h2>Getting started!</h2>
          <p>Welcome to <b>Axess</b>!</p>
            
          <p>You can get started by creating a new site on the 
          <a class="btn btn-primary btn-mini" href="@routes.SiteController.newSiteGet">New Site</a>
          page.</p>
          <p>You can always get to that page by clicking on the <b>Sites</b> link
          in the navigation bar at the top of the page.</p>
        }
        </div>
      </div>
    </section>
    <footer><p class="well" style="text-align: center;"><small>Written by Brennan Saeta (saeta@@cs.stanford.edu). 
    Code on <a href="https://github.com/saeta/axess">GitHub</a> 
    (<a href="https://github.com/saeta/axess">Source</a>). 
    Written in <a href="http://www.scala-lang.org/">Scala</a> 
    using <a href="http://www.playframework.org/">Play2.0</a>, and 
    styled using <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</small></p></footer>
}