@(title: String, refresh: Boolean = false, refreshTime: Int = 1)(navbar: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Axess - @title</title>

        @if(refresh) {<meta http-equiv="refresh" content="@refreshTime"/>}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("jquery", "1.7.1");
          google.load("jqueryui", "1.8.17");
        </script>
        <link rel="stylesheet" 
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css"
            type="text/css" media="all" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @navigation()
        <div class="container">
            @content
        </div>
    </body>
</html>
