@(title: String, refresh: Boolean = false)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Axess - @title</title>

        @if(refresh) {<meta http-equiv="refresh" content="1"/>}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("jquery", "1.7.1");
          google.load("jqueryui", "1.8.17");
        </script>
        <link rel="stylesheet" 
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css"
            type="text/css" media="all" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a class="brand" href="/">Axess</a></li>
                        <li><a href="@routes.SiteController.all">Sites</a>
                        <li><a href="@routes.ScanController.summary">Scan Results</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            @content
        </div>
    </body>
</html>
