@(stats: axess.StatsResponse, site: Site, justStarted: Boolean)

@******************************************************************************
 * Copyright 2012 Brennan Saeta                                               *
 *                                                                            *
 * This file is part of Axess                                                 *
 *                                                                            *
 * Axess is free software: you can redistribute it and/or modify              *
 * it under the terms of the GNU Affero General Public License as published by*
 * the Free Software Foundation, either version 3 of the License, or          *
 * (at your option) any later version.                                        *
 *                                                                            *
 * Axess is distributed in the hope that it will be useful,                   *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              *
 * GNU Affero General Public License for more details.                        *
 *                                                                            *
 * You should have received a copy of the GNU Affero General Public License   *
 * along with Axess.  If not, see <http://www.gnu.org/licenses/>.             *
 ******************************************************************************@

@main("Statistics for Scan", refresh = true)(navigation()) {

<header class="jumbotron">
  <div class="page-header">
    <h1>Progress for @site.tag</h1>
  </div>
</header>

<section>
  <div class="row">
    <div class="span4">
      @if(justStarted) {
      <div class="alert alert-success">Scan started!</div>
      }
      <h2>Scanning...</h2>
      <div class="progress">
        <div class="bar" style="width: @stats.percentDone%;"></div>
      </div>
    </div>
    <div class="span8">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><b>Pages Seen</b></td>
            <td>@stats.numSeen</td>
          </tr>
          <tr>
            <td><b>Pages Scanned</b></td>
            <td>@stats.numDone</td>
          </tr>
          <tr>
            <td><b>To do list length</b></td>
            <td>@(stats.numSeen - stats.numDone)</td>
          </tr>
          <tr>
            <td><b>Queue Length</b></td>
            <td>@stats.as.queueLength</td>
          </tr>
          <tr>
            <td><b>Free Set Size</b></td>
            <td>@stats.as.freeSetSize</td>
          </tr>
          <tr>
            <td><b>Concurrent Scans</b></td>
            <td>@stats.as.concurrentScans</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
}
