@(summaries: List[ScanSummary])

@import helper._
@import helper.twitterBootstrap._

@main("Scan Summary") {
  <header class="jumbotron">
    <div class="page-header">
      <h1>Past Scans</h1>
    </div>
  </header>
  <section id="results">
    <div class="row">
      <div class="span2">
      <p>Here are past scans from history. Click on one to see the results or 
      launch a new scan.</p>
      
      <p>This view only shows the most recent scan for a particular site. 
      If you would like to see older scans, you can write the SQL queries yourself.</p>
      
      <p><small>Actually, it wouldn't be that hard. Just let me know</small></p>
      </div>
      <div class="span10">
        <table class="table table-striped table-condensed table-bordered">
          <thead>
            <tr>
              <th>Site</th>
              <th>Date Scanned</th>
              <th>Number of Messages</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @summaries.map { s =>
              <tr>
                <td>@s.tag</td>
                <td><a href="@routes.ScanController.results(s.scanId)">@s.start_time</a></td>
                <td>@s.numMsgs</td>
                <td>@form(routes.ScanController.start(s.siteId)) {
                  <input type="submit" class="btn btn-primary btn-mini" value="Scan" />
                }</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
}
