@(stats: axess.StatsResponse, site: Site)

@main("Statistics for Scan", refresh = true) {

  <h1>Progress for @site.tag</h1>

  <div class="row">
    <div class="span4">
      <h2>Scanning...</h2>
      <div class="progress">
        <div class = "bar" style="width: @stats.percentDone%;"></div>
      </div>
    </div>
    <div class="span8">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><b>Pages Seen</b></td>
            <td>@stats.numSeen</td>
          </tr>
          <tr>
            <td><b>Pages Scanned</b></td>
            <td>@stats.numDone</td>
          </tr>
          <tr>
            <td><b>Queue Length</b></td>
            <td>@stats.as.queueLength</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

}