@(id: Long, tag: String, frm: Form[Site])

@import helper._
@import helper.twitterBootstrap._

@main("New Authentication Username/Password Combo") {

<header class="jumbotron">
  <div class="page-header">
    <h1>Add a new Site!</h1>
  </div>
</header>
<section id="add">

  <div class="row">
  <div class="span4">
    <h2> About </h2>

    <p> A site. See them all at <a href="@routes.SiteController.all">sites</a>. </p>

    <div class="alert alert-error">
      <strong>Warning!</strong> Passwords are stored <i>unencrypted</i>. Do NOT use secure passwords!
    </div>
    
  </div>
  <div class="span8">
    <h2>Edit Site: @tag</h2>
    <div>
    @form(routes.SiteController.save(id), 'class -> "form-vertical well") {
      <fieldset>
        <input type="hidden" name="id" value="@id" />
      
      @helper.inputText(frm("tag"), '_label->"Tag", 
          'placeholder -> "main", '_help -> "A short, descriptive name")
    
      @helper.inputText(frm("usr"), '_label->"Login Username",
          'placeholder -> "foo@example.com")
      
      @helper.inputText(frm("pwd"), '_label->"Login Password",
          'placeholder -> "letmein")
          
      @helper.inputText(frm("home"), '_label->"Home Page (url)",
          'placeholder -> "http://www.example.com/")
          
      @helper.inputText(frm("stype"), '_label->"Site Type",
          'placeholder -> "models.CourseraSite")

      @helper.inputText(frm("dsc"), '_label->"Description",
          'placeholder -> "Description")
          
      <div class="form-actions">      
        <input type="submit" class="btn btn-primary" value="Update" />
        <a href="@routes.SiteController.all"><button class="btn">Cancel</button></a>
      </div> 
      </fieldset>
    }
    </div>
  </div> <!-- div / span 8 -->
  </div> <!-- div / row -->
  </div>
  </div>
</section>

}