@(sites: List[Site])

@import helper._
@import helper.twitterBootstrap._

@main("New Authentication Username/Password Combo") {

<header class="jumbotron">
  <div class="page-header">
    <h1>Known Sites <small>Sites that can be scanned</small></h1>
  </div>
</header>
<section id="sites">

  <div class="row">
  
  <div class="span4">
    <h2> About <small>What are sites?</small></h2>

    <p>A site is the basic entity in Axess. A site identifies all the
    configuration necessary to scan the site, and report errors.</p>
    
    <div class="alert">
      <strong>Warning!</strong> Once you delete a site, that information is
      deleted in the database. It is unrecoverable.
    </div>
    
    
    <h2>Add a new site <small>Scan away!</small></h2>
    <p> Add a website to Axess to scan it. </p>
    
    <div class="alert alert-error">
      <strong>Warning!</strong> Passwords are stored in <i>clear text</i>! Do <strong>NOT</strong> use secure passwords!
    </div>
    
    <p><a class="btn btn-primary" href="@routes.SiteController.newSiteGet">New Site</a></p>
  </div>
  <div class="span8">
  
    <h2>Websites (Sites)</h2>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Username</th>
          <th>Home</th>
          <th>Delete</th>
          <th>Scan</th>
        </tr>
      </thead>
      <tbody>
        @sites.map { site =>
          <tr>
            <td>@site.tag</td>
            <td>@site.usr</td>
            <td>@site.home</td>
            <td>
              @form(routes.SiteController.delete(site.id)) {
                  <input type="submit" class="btn btn-danger btn-mini" value="Delete" />
              }
            </td>
            <td>
              @scanForm(site.id)
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  </div> <!-- div / row -->
  </div>
  </div>
</section>

}